$color-primary: #0071BC;
$color-text: #222;
$color-background: #eee;

@mixin no-margin-no-padding() {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    background-color: $color-background;
    color: $color-text;
    @include no-margin-no-padding;
}
header {
    background-color: white;
    padding: 1em 0;
    h1, p {
        @include no-margin-no-padding;
        img {
            display: block;
            width: 50%;
            max-width: 320px;
        }
    }
}
footer {
    padding-top: 1em;
    border-top: 1px solid transparentize($color-text, 0.85);
}
.container {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}
a, a:link {
    color: $color-primary;
}
a:visited {
    color: darken($color-primary, 10);
}
a:active, a:hover {
    color: lighten($color-primary, 10);
}
